.service-details {
    margin: 50px 0 50px 0;

    .container {
        display: flex;
        flex-direction: column;
        width: fit-content;

        @include desktop {
            display: grid;
            grid-template-columns: min-content 1fr;
            grid-template-areas: "aside content";
        }



        .aside-content {
            grid-area: aside;
            display: flex;
            flex-direction: column;
            gap: 2rem;
            position: relative;
            min-height: 200px;
            margin-bottom: 2rem;
            width: 100%;

            @include tablet {
                padding: 0 2rem 1rem 2rem;
            }

            .a {
                &:hover {
                    color: var(--color-secondary) !important;
                }
            }

            .image-container {
                object-fit: cover;
                width: min-content;
                height: min-content;

                img {
                    display: none;

                    @include tablet {
                        display: block;
                        width: 230px;
                    }
                }
            }
        }

        .aside-content::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            height: 0.5px;
            width: 100%;
            background-color: var(--color-border-light);

            @include desktop {
                height: 100%;
                width: 0.5px;
                top: 0;
                right: 0;
                left: unset;
                bottom: unset;
            }
        }

        .page-content {
            grid-area: content;
            width: fit-content;

            @include tablet {
                padding: 0 2rem 0 2rem;
            }


            .content {
                img {
                    width: 280px;

                    @include tablet {
                        width: auto;
                    }
                }

                h3 {
                    color: var(--color-primary);
                }
            }
        }
    }
}
