#our-experts {
    margin-top: 150px;
    margin-bottom: 100px;
    

    .container {
        margin: 0 auto;
        .headline {
            text-align: center;
            width: 50%;
            margin: 0 auto;

            h2 {
                font-weight: 700;
            }
        }

        .image-grid {
            display: grid;
            grid-template-columns: 1fr;

            @include tablet {
                grid-template-columns: 1fr 1fr;
            }

            @include desktop {
                grid-template-rows: auto;
                row-gap: 2rem;
            }


            .upper-row {
                margin: 0 auto;
                @include desktop {
                    grid-column: span 3;
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                }
            }

            .lower-row {
                margin: 0 auto;
                @include desktop {
                    grid-column: span 4;
                    display: grid;
                    grid-template-columns: repeat(4, 1fr);
                }
            }


            .team-card {
                width: fit-content;
                border: 1px solid hsla(0, 0%, 0%, 0.1);

                .image-container {
                    width: fit-content;
                }

                .name-title {
                    padding: 20px;
                }
            }
        }
    }
}
