@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core.PropertyEditors.ValueConverters;

@{
    var sectionText1 = Model?.Content.Value<string>("sectionText1");
    var sectionText2 = Model?.Content.Value<string>("sectionText2");

    var textColor1 = Model?.Content?.Value<ColorPickerValueConverter.PickedColor>("colorText1")?.Label.ToLower() ?? null;
    var textColor2 = Model?.Content?.Value<ColorPickerValueConverter.PickedColor>("colorText2")?.Label.ToLower() ?? null;
    
}

 <div class="headline">
        <h2 class="@textColor1">@sectionText1</h5>
        <h2 class="@textColor2">@sectionText2</h2>
</div>