@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;

@{
    var selectedImage = Model?.Content.Value<IPublishedContent>("selectedImage")?.Url();
    var imageAltText = Model?.Content.Value<string>("imageAltText") ?? "";
}

@if (!string.IsNullOrEmpty(selectedImage)){
    <div class="image-container">
        <img src="@selectedImage" alt="@imageAltText">
    </div>
}