@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core.PropertyEditors.ValueConverters;

@{
    var sectionTitle = Model?.Content.Value<string>("sectionTitle") ?? "";
    var sectionId = sectionTitle?.ToString().ToLower().Trim().Replace(" ", "-");
    var backgroundImage = Model?.Content.Value<IPublishedContent>("backgroundImage")?.Url();

    var sectionBackgroundColorLabel = Model?.Content?.Value<ColorPickerValueConverter.PickedColor>("sectionBackgroundColor")?.Label.ToLower() ?? null;
    var backgroundColorClass = (!string.IsNullOrEmpty(sectionBackgroundColorLabel) && sectionBackgroundColorLabel != "none") ? $"bg-{sectionBackgroundColorLabel}" : "";
}

<section id="@sectionId" class="@backgroundColorClass">
    @if (backgroundImage is not null) {
        <div class="background-img">
            <img src="@backgroundImage" alt="@sectionTitle">
        </div>
    }
    <div class="container">
        @await Html.GetBlockGridItemAreasHtmlAsync(Model)
    </div>
</section>


