@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;

@{
    var backgroundImage = Model?.Content.Value<IPublishedContent>("backgroundImage")?.Url() ?? null;    
    var backgroundImageAltText = Model?.Content.Value<string>("backgroundImageAltText");
    var containerClass = Model!.Content.Value<bool>("imageInsideContainer") ? "container" : "";
}

<div class="background-img @containerClass">
    <img src="@backgroundImage" alt="@backgroundImageAltText">
</div>