#home {
    background-color: var(--color-light);
    @include shadow-s;

    @include desktop {
        position: absolute;
        top: -250px;
        z-index: 5;
    }


    .headline {
        background-color: var(--color-primary);
        padding: 2rem;
        width: 100%;

        h3 {
            font-size: 40px;
            color: var(--color-accent);
        }
    }

    .preamble {
        padding: 2rem 2rem 0 2rem;
        font-style: italic;
    }

    .preamble ~ * {
        padding: 0 2rem 2rem 2rem;
    }

    form > * {
        margin-top: 2rem;
        height: fit-content;
    }

    span {
        display: none;
    }

    .form-button {
        width: 100%;
    }
}

#Contact {
    @include shadow-l;
    margin: 0 auto;
    position: absolute;
    top: -500px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--color-light);
    width: 100%;
    max-width: 1200px;

    .headline {
        padding: 2rem;
        text-align: center;

        h3 {
            color: var(--color-primary);
        }
    }

    .preamble {
        padding: 2rem 2rem 0 2rem;
        font-style: italic;
        text-align: center;
        width: 70%;
        margin: 0 auto;
    }

    .preamble ~ * {
        padding: 0 2rem 2rem 2rem;
    }

    form {
        margin-top: 2rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "name phone" "email subject" "button button";
        column-gap: 1rem;
        row-gap: 1rem;

        #_Name {
            grid-area: name;
        }

        #_phone {
            grid-area: phone;
        }

        #_Email {
            grid-area: email;
        }

        #subject {
            grid-area: subject;
        }

        #_Submit {
            grid-area: button;
            width: fit-content;
            grid-column: span 2;
            margin: 0 auto;
        }

        span {
            display: none;
        }
    }
}

#service {
    .container {
        padding: 5rem;

        .headline {
            margin-bottom: 1.5rem;
            h3 {
                color: var(--color-primary);
            }
        }

        form {
            .flex {
                display: flex;
                column-gap: 2rem;
                
                #_name {
                    flex: 1;
                }
                #_email {
                    flex: 1;

                }
            }
            #_message {
                margin-top: 1.5rem;
            }
            #message {
                height: 200px;
            }

            #_submit {
                margin-top: 2rem;
            }
        }
    }
}
