#about-us {
    .container {
        margin-top: 70px;
        margin-bottom: 70px;
        padding-left: 40px;

        .headline {
            width: 60%;
        }

        .content {
            width: 60%;

            .content-container {
                margin-top: 1rem;
            }
        }
    }
}
