#about-us {
    .container {
        margin-top: 70px;
        margin-bottom: 70px;
        padding: 0 2rem 0 2rem;

        .content {
            width: 60%;

            .image-container {
                margin-top: 1rem;
            }
        }

        .umb-block-grid__area[data-area-alias="right"] {

            @include desktop {
                margin-left: 2rem;
            }
        }
    }
}
