#our-services {
    padding-top: 100px;
    padding-bottom: 100px;

    .container {

        .headline {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            h2 {
                text-align: center;

                @include tablet {
                    width: 50%;
                }
            }
        }

        .grid-services {
            display: grid;
            grid-template-columns: 1fr;
            gap: 2rem;


            @include tablet {
                grid-template-columns: 1fr 1fr;
            }


            @include desktop {
                grid-template-columns: 1fr 1fr 1fr;
            }

            .service-card {
                background-color: white;
                @include shadow-m;
                width: fit-content;

                .heading {
                    padding-left: 30px;
                    padding-top: 25px;
                    padding-bottom: 25px;
                    margin: 0;
                }

                .img-service {
                    img {
                        width: 100%;
                    }
                }

                .text {
                    padding-left: 30px;
                    padding-top: 25px;
                    padding-bottom: 25px;
                }
            }
        }
    }
}
