#partners {
    .container {
        padding: 80px 0px 80px 0px;

        .partners {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 5rem;
            justify-content: center;
            align-items: center;
            width: fit-content;
            margin: 0 auto;

            @include tablet {
                grid-template-columns: 1fr 1fr 1fr;
            }

            @include desktop {
                display: flex;
                gap: 5rem;
            }
        }
    }
}
