#success-story {
    max-width: 1920px;
    margin: 0 auto;
    padding: 100px 0 50px 0;


    @include tablet {
        padding: 100px 0 50px 0;
    }

    .background-img {
        width: 100%;
        margin: 0 auto;
        position: relative;
        display: flex;
        justify-content: center;

        img {
            position: absolute;
            object-fit: cover;
            width: 80%;

            @include tablet {
                width: 90%;
            }
        }
    }

    .container {
        display: flex;
        justify-content: center;

        .headline {
            text-align: center;
            margin: 0 auto;
        }

        .umb-block-grid__layout-item[data-content-element-type-alias="threeColumnLayoutNoRows"] {
            width: fit-content;
            height: fit-content;




            .content {
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                gap: 3rem;




                .content-container {
                    margin: 0 auto;

                    h1 {
                        color: var(--color-secondary);
                        font-size: 70px;

                        @include tablet {
                            font-size: 100px;
                        }
                    }

                    h5 {
                        width: 100%;
                        color: var(--color-light);
                        font-weight: 300;

                        @include desktop {
                            font-weight: 500;
                        }
                    }
                }
            }
        }

        .image-container {
            width: 100%;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            position: relative;

            img {
                width: 60%;
                margin: 0 auto;
                position: absolute;
                top: 0px;

                @include tablet {
                    top: 50px;
                }
            }
        }

        .umb-block-grid__area[data-area-alias="left"] {
            display: none;
        }

        .umb-block-grid__area[data-area-alias="right"] {
            display: none;
        }
    }
}
