#about-header {
    position: relative;
    display: flex;
    justify-content: center;
    height: 260px; //hur ska denna hjd vara i relativt vArde?
    max-width: 1920px;
    @include shadow-l;
    background-color: var(--color-gray);
    z-index: -1;
    margin: 0 auto;

    .background-container {
        display: flex;
        justify-content: space-between;
        position: absolute;
        height: 100%;
        width: 100%;

        .background-img {
            z-index: 1;
            height: 100%;
            width: 100%;

            .img {
                width: 100%;
                height: 100%;
            }
        }

       
    }


    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 2;
        text-align: center;

        .heading {
            h2 {
                font-weight: 700;
            }

            .bread-crumbs {
                a {
                    margin-right: 1rem;
                    margin-left: 1rem; //??
                }
            }
        }
    }
}
