@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = "mainLayout.cshtml";
}

            <section id="about-header" class="about-header">
                <div class="background-container">
                    <div class="background-img1">
                        <img id="img1" src="./images/About us/Rectangle1.png" alt="">
                    </div>
                    <div class="background-img2">
                        <img id="img2" src="./images/About us/Rectangle.png" alt="">
                    </div>
                </div>
                <div class="container">
                    <div class="heading">
                        <h2>About Us</h2>
                        <div class="bread-crumbs">
                            <a href="/">Home</a>
                            <i class="fa-solid fa-angles-right"></i>
                            <a href="/aboutpage.html">About</a>
                        </div>
                    </div>
                </div>
            </section>

            <section id="founder-section" class="founder-section">
                <div class="container">
                    <div class="left-content">
                        <div class="image-container">
                            <img src="./images/About us/Tina-Fox.png" alt="CEO & Founder Tina Fox portrait image">
                        </div>
                        <p class="ceo-text">Tina Fox - CEO & Founder at Onatrix</p>
                    </div>
                    <div class="content">
                        <blockquote class="quote">
                            “We have over 25 years of experience providing expert financial advice to both businesses and individuals.”
                        </blockquote>
                        <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae metus a massa lobortis sollicitudin. Cras ut nulla quam. Maecenas tempus felis quis lorem malesuada vehicular.</p>
                        <p class="text">Morbi commodo, eros quis consequat consequat, orci lacus auctor ligula, ut maximus arcu sapien nec elit. Suspendisse rutrum.</p>
                        <p class="text">Cras auctor, dui eu eleifend malesuada, nunc dui pretium urna, id euismod orci urna non est. Pellentesque imperdiet tortor ut elementum viverra.</p>
                        <p class="text">Phasellus laoreet, sapien id euismod hendrerit, nibh ligula hendrerit libero, sit amet hendrerit elit turpis nec velit. Praesent tincidunt nisi at vulputate ornare. Morbi commodo, eros quis consequat consequat, orci lacus auctor ligula, ut maximus arcu sapien nec elit. Suspendisse rutrum elit at urna dapibus viverra. Etiam lectus libero, condimentum eget justo ac, accumsan suscipit libero.</p>
                        <p class="text">Morbi commodo, eros quis consequat consequat, orci lacus auctor ligula, ut maximus arcu sapien nec elit. Suspendisse rutrum i commodo, eros quis consequat consequat.</p>
                        <p class="text">Cras auctor, dui eu eleifend malesuada, nunc dui pretium urna, id euismod orci urna non est. Pellentesque imperdiet tortor ut elementum viverra.</p>
                        <p class="text">Cras auctor, dui eu eleifend malesuada, nunc dui pretium urna, id euismod orci urna non est. Pellentesque imperdiet tortor ut elementum viverra.</p>
                    </div>
                </div>
            </section>

            <section id="reviews-section" class="reviews-section">
                <div class="container left-content">
                    <h6>GREAT REVIEWS FOR OUR SERVICES</h6>
                    <h2>Trusted by some Biggest Names</h2>
                    <blockquote class="quote">Seamlessly visualize quality intellectual capital without superior collaboration and idea-sharing. Holistically pontificate installed base portals.</blockquote>
                    <div class="stars">
                        <i class="fa-sharp fa-solid fa-star"></i>
                        <i class="fa-sharp fa-solid fa-star"></i>
                        <i class="fa-sharp fa-solid fa-star"></i>
                        <i class="fa-sharp fa-solid fa-star"></i>
                        <i class="fa-sharp fa-solid fa-star"></i>
                    </div>
                    <p class="big-name">Kevin Gardner</p>
                    <p class="company">Swedbank</p>
                </div>
                <div class="image-container">
                    <img class="image-review" src="./images/About us/kevin-gardner.png" alt="Kevin Gardner, portrait image, happily looks into a desktop">
                </div>
            </section>

            <section id="team-section" class="team-section">
                <div class="container">
                    <div class="heading">
                        <h6>OUR EXPERT</h6>
                        <h2>A team of professionals with years of experience</h2>
                    </div>
                    <div class="image-grid">
                        <div class="upper-row">
                            <div class="team-card">
                                <div class="image-container">
                                    <img class="team-img" src="./images/About us/Brandon-Newton.png" alt="">
                                </div>
                                <div class="name-title">
                                    <h4>Brandon Newton</h4>
                                    <p>Financial Advisor at Onatrix</p>
                                </div>
                            </div>
                            <div class="team-card">
                                <div class="image-container">
                                    <img class="team-img" src="./images/About us/Aj-Carter.png" alt="">
                                </div>
                                <div class="name-title">
                                    <h4>AJ Carter</h4>
                                    <p>Financial Advisor at Onatrix</p>
                                </div>
                            </div>
                            <div class="team-card">
                                <div class="image-container">
                                    <img class="team-img" src="./images/About us/Aaron-Lambert.png" alt="">
                                </div>
                                <div class="name-title">
                                    <h4>Aaron Lambert</h4>
                                    <p>Business Specialist at Onatrix</p>
                                </div>
                            </div>
                        </div>
                        <div class="lower-row">
                            <div class="team-card s-card">
                                <div class="image-container">
                                    <img class="team-img" src="./images/About us/Tina-Fox2.png" alt="">
                                </div>
                                <div class="name-title">
                                    <h4>Tina Fox</h4>
                                    <p>CEO & Founder at Onatrix</p>
                                </div>
                            </div>
                            <div class="team-card s-card">
                                <div class="image-container">
                                    <img class="team-img" src="./images/About us/Brandon-Kerr.png" alt="">
                                </div>
                                <div class="name-title">
                                    <h4>Brandon Kerr</h4>
                                    <p>CFO & Co-Founderat Onatrix</p>
                                </div>
                            </div>
                            <div class="team-card s-card">
                                <div class="image-container">
                                    <img class="team-img" src="./images/About us/Miranda-Dayton.png" alt="">
                                </div>
                                <div class="name-title">
                                    <h4>Mirande Dayton</h4>
                                    <p>Head of HR at Onatrix</p>
                                </div>
                            </div>
                            <div class="team-card s-card">
                                <div class="image-container">
                                    <img class="team-img" src="./images/About us/Kevin-gardner2.png" alt="">
                                </div>
                                <div class="name-title">
                                    <h4>Kevin Gardner</h4>
                                    <p>Banking Advisor at Swedbank</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </section>

            <section id="call-to-action" class="call-to-action">
                <div class="container">
                    <div class="left-content">
                        <div class="background">
                            <img src="./images/About us/Component-footer.svg" alt="">
                        </div>
                        <div class="portrait">
                            <img src="./images/About us/Footer-team-guy.png" alt="">
                        </div>
                    </div>
                    <div class="right-content">
                        <div class="heading">
                            <h2>Let us know about your next project</h2>
                        </div>
                        <div class="text">

                            <div class="contact">
                                <div class="contact-type">
                                    <i class="fa-sharp fa-regular fa-location-dot"></i>
                                    <h6>Office location</h6>
                                </div>
                                <div class="contact-information">
                                    Klarabergsviadukten 90, 111 52 Stockholm
                                </div>
                            </div>

                            <div class="contact">
                                <div class="contact-type">
                                    <i class="fa-regular fa-phone-flip"></i>
                                    <h6>Phone number</h6>
                                </div>
                                <div class="contact-information">
                                    +46 8 123 456 75
                                </div>
                            </div>

                            <div class="contact">
                                <div class="contact-type">
                                    <i class="fa-regular fa-envelope"></i>
                                    <h6>E-mail address</h6>
                                </div>
                                <div class="contact-information">
                                    sales@onatrix.com
                                </div>
                            </div>
                        </div>
                    </div>
            </section>