@using Umbraco.Cms.Web.Common.PublishedModels;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core.PropertyEditors.ValueConverters;
@inject Umbraco.Cms.Web.Common.UmbracoHelper UmbracoHelper 

@{

     var rootContents = UmbracoHelper.ContentAtRoot();
    var settings = rootContents?.FirstOrDefault(x => x.ContentType.Alias == "settings") ?? null;
    var componentImage = settings?.Value<IPublishedContent>("callToActionComponentImage").Url() ?? null;
    var portaitImage = settings?.Value<IPublishedContent>("callToActionPortraitImage").Url() ?? null;
    var officeLocation = settings?.Value<string>("officeLocation") ?? "";
    var officePhoneNumber = settings?.Value<string>("officePhoneNumber") ?? "";
    var officeEmailAddress = settings?.Value<string>("officeEmailAddress") ?? "";
}
 
 <section id="call-to-action" class="call-to-action">
                <div class="container">
                    <div class="left-content">
                        <div class="background">
                            <img src="@componentImage" alt="">
                        </div>
                        <div class="portrait">
                            <img src="@portaitImage" alt="portrait image of sales guy">
                        </div>
                    </div>
                    <div class="right-content">
                        <div class="heading">
                            <h2>Let us know about your next project</h2>
                        </div>
                        <div class="text">

                            <div class="contact">
                                <div class="contact-type">
                                    <i class="fa-sharp fa-regular fa-location-dot"></i>
                                    <h6>Office location</h6>
                                </div>
                                <div class="contact-information">
                                    @officeLocation
                                </div>
                            </div>

                            <div class="contact">
                                <div class="contact-type">
                                    <i class="fa-regular fa-phone-flip"></i>
                                    <h6>Phone number</h6>
                                </div>
                                <div class="contact-information">
                                    @officePhoneNumber
                                </div>
                            </div>

                            <div class="contact">
                                <div class="contact-type">
                                    <i class="fa-regular fa-envelope"></i>
                                    <h6>E-mail address</h6>
                                </div>
                                <div class="contact-information">
                                    @officeEmailAddress
                                </div>
                            </div>
                        </div>
                    </div>
            </section>